@inject IStringLocalizer<LogInStatus> _loc
@{

    var providers = new List<(string Provider, string Button, string FaIcon, string Name)>
    {
        ("aad", "microsoft","windows", "Microsoft" ),
        ( "github","github","github", "GitHub" ),
        ( "twitter","twitter","twitter", "Twitter" ),
        ( "facebook","facebook","facebook", "Facebook" )
    };
}

<AuthorizeView>
    <Authorized>
        <LogInStatus LogOutUrl=@($"/.auth/logout?post_logout_redirect_uri={PostLogoutUrl}")/>   
    </Authorized>
    <NotAuthorized>
        <h1>@_loc["Log in with"]</h1>

        <div class="container">
            @foreach (var provider in providers)
            {
                <div class="row">
                    <div class="col-sm-12 col-md-9 col-lg-6">
                        <a class="btn btn-block btn-lg btn-social btn-@provider.Button" href="/.auth/login/@provider.Provider?post_login_redirect_uri=@PostLoginUrl">
                            <span class="fa fa-@provider.FaIcon"></span> @provider.Name
                        </a>
                    </div>
                </div>
            }
        </div>
    </NotAuthorized>
</AuthorizeView>


@code
{
    [Parameter]
    public string PostLoginUrl { get; set; }

    [Parameter]
    public string PostLogoutUrl { get; set; }
}