@{
    var providers = new Dictionary<string, string>
    {
        {"aad", "Azure" },
        { "github", "GitHub" },
        { "twitter", "Twitter" },
        { "facebook", "Facebook" }
    };
}

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <a href="/.auth/logout?post_logout_redirect_uri=@PostLogoutUrl">Log out</a>        
    </Authorized>
    <NotAuthorized>
        <h1>Login</h1>

        <div class="container">
            @foreach (var provider in providers)
            {
                <div class="row">
                    <div class="col-sm-12 col-md-9 col-lg-6">
                        <a class="btn btn-block btn-lg btn-social btn-@provider.Key" href="/.auth/login/@provider.Key?post_login_redirect_uri=@PostLoginUrl">
                            <span class="fa fa-@provider.Key"></span> Sign in with @provider.Value
                        </a>
                    </div>
                </div>
            }
        </div>
    </NotAuthorized>
</AuthorizeView>


@code
{
    [Parameter]
    public string PostLoginUrl { get; set; }

    [Parameter]
    public string PostLogoutUrl { get; set; }
}