@page "/feed"
@using BlazorApp.Shared 
@inject HttpClient Http

<h3>Feed todo :</h3>

<FeedItemCard Dto=@dto />

@code {
    private FeedItemDto dto = new("100","Name of the dto","Long Description");
}
